{% extends 'layout.html' %}

{% block css_files %}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"  />
{% endblock css_files %}

{% block page_title %}
     contact
{% endblock page_title %}

{% block content %}
     <div class="container mt-3">
          <div class="row">
               <div class="col-12">
                    <!-- Content -->
                    <h1>Contact</h1>
               </div>
     </div>
{% endblock content %}

