{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
     
{% endblock page_title %}

{% block css_files %}
     <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}


{% block content %}
     <div class="container mt-3">
          <div class="row">
               <div class="col-12">
                    <table class="table table-sm table-bordered">
                         <thead>
                              <tr>
                                   <th style="width:120px;"></th>
                                   <th>Title</th>
                                   <th>Slug</th>
                                   <th style="width:70px;"></th>
                              </tr>
                         </thead>
                         <tbody>
                              {% for course in courses  %}
                                   <tr>
                                        <td>
                                             <img src="{% static 'courses/img/|add:course.imageUrl' %}" alt="" class="img-fluid">
                                        </td>
                                        <td>{{ course.title }}</td>
                                        <td>{{ course.slug }}</td>
                                        <td>
                                             <a href="{% url 'course_edit' course.id %}" class="btn btn-primary btn-sm">Update</a>
                                        </td>
                                   </tr>
                              {% endfor %}
                         </tbody>
                    </table>
               </div>
     </div>
{% endblock content %}

{% block js_files %}
     <script src="{% static 'courses/js/script.js' %}"></script>
{% endblock js_files %}