{% extends 'layout.html' %}
{% load static %}

{% block page_title %}
     {{ course.title }}
{% endblock page_title %}

{% block css_files %}
     <link rel="stylesheet" href="{% static 'courses/css/style.css' %}">
{% endblock css_files %}


{% block content %}
     <div class="container mt-3">
          <div class="row">
               <div class="col-4">
                    <img class="img-fluid rounded" src="{% static 'courses/img/'|add:course.imageUrl %}" alt="{{ course.title }}">
               </div>
               <div class="col-8">
                    <h1 class="h3">{{ course.title }}</h1>
                    <p>
                         {{ course.description }}
                    </p>
               </div>
     </div>
{% endblock content %}

{% block js_files %}
     <script src="{% static 'courses/js/script.js' %}"></script>
{% endblock js_files %}